<template>
<div>

<pre>Формирование сообщения/заявки на выполнение указанных действий по договорам ДБО.
ДБО - дистанционное банковское обслуживание</pre>

  <label for="dog"><i>Организация:</i></label>
	<dlookup
		placeholder="Введите часть наименования для поиска"
		:min-length=2
	  name="dog" 
	  table="IBS.VW_CRIT_BANK_CLIENT" 
		fields="C_3, C_1, C_2"
	  result="ID"
	  look-in="%C_1%,%C_3%" 
	  where="C_10='Работает'" 
		@select="clientSelected"
		:get-label="getLabel"
	  style="width:400px"
		save
	>
	 <!--переопределяем внешний вид выпадающего списка: -->
		<span slot-scope="{item, index}">
	 	  <b>{{item.C_3}}</b>
      <br>
 			<i>{{'(№ ' + item.C_1 + ' от ' + item.C_2 + ')'}}</i>	
		</span>
	</dlookup>
  <br>
  <i>Договор №: </i> <input field="C_1" size="7" v-model="C_1" readonly/>
  <i> от </i> <input field="C_2" size="7" v-model="C_2" readonly/>
  <v-checkbox label="закрыть Договор" v-model="closeDog"></v-checkbox>

  <div v-if="!closeDog">
    <label for="file"><i>Файлы:</i></label> <br>
    <input type="file" name="filename" multiple/> 
    <br> <br>
    <array>
      <select name="option">
        <option value=1 selected>Регистрация ключа ЭП</option> 
        <option value=2>Блокировка ключа ЭП</option> 
        <option value=3>Подключить MAC-токен</option> 
        <option value=4>Блокировать MAC-токен</option> 
        <option value=5>Подключить OTP-токен</option> 
        <option value=6>Блокировать OTP-токен</option> 
        <option value=7>Добавить счет</option> 
        <option value=8>Установить разрешенные IP-адреса</option> 
        <option value=9>Подключить "SMS-банкинг"</option> 
        <option value=10>Изменить Наименование</option> 
        <option value=11>Изменить Полное наименование</option> 
        <option value=12>Изменить Наименование (англ)</option> 
        <option value=13>Изменить КПП</option> 
        <option value=14>Изменить Юридический адрес</option> 
        <option value=15>Изменить Фактический адрес</option> 
        <option value=16>Изменить Адрес (англ)</option> 
        <option value=17>Другое</option> 
      </select>
      <input type="text" name="optionText" style="width:250px; margin-top: .5rem;">
    </array>
    <br> <br>
  </div>
</div>
</template>

<script>
module.exports = {
	data : function(){
		return {
			C_1 : '',
			C_2 : '',
      closeDog : false
		}
	},
	methods : {
		clientSelected : function(event) {
				this.C_1 = event.C_1;
				this.C_2 = event.C_2;
		},

		getLabel : function(item){
			return item.C_3 
		}
	}
}	
</script>

