node_modules
nssm.exe
db
client
sslcert
users
tests
tasks/wh_data.db
tasks2
package-lock.json
tasks/templates/Отчет по картам МИР.xlsx
tasks/templates/Отчет по доходности в разрезе карт продуктов.xlsx